#Banner{
-fx-background-color: #1F58AF !important;
}

#orderTrackerTable {
-fx-background-color: #1F58AF !important;
}

.combo-box .input-focused-line{
    -fx-background-color: #FFF !important;
}

.combo-box .input-focused-line{
    -fx-prompt-text-fill: #FFF !important;
}