#Banner{
-fx-background-color: #1F58AF !important;
}

#clearButton{
-fx-text-fill :  #1F58AF !important;
}

#confirmButton{
-fx-background-color:  #1F58AF !important;
}


/*for all combo boxes basic design*/

.combo-box{
-fx-background-color: #FFF !important;
}

.combo-box .input-line{
-fx-background-color: #C04878 !important;
}

.combo-box .input-focused-line{
-fx-background-color: #1F58AF !important;
 -fx-prompt-text-fill: #1F58AF !important;
}

